<h1>Welcome to flast!</h1>

<h3>flast is a general purpose framework to build logical dependencies.</h3>

<p>Everything is under construction.<br/>
Project page: <a href="https://gitlab.com/semleti/flast">gitlab.com/semleti/flast</a>
</p>

<script src="test.js"></script>
<a href="https://gitlab.com/oauth/authorize?client_id=bddeb0529a269a44c1b67ec91c8c0008353afa76eebaff011200c63cc1c11bb6&redirect_uri=https://flast.org&response_type=token&state=YOUR_UNIQUE_STATE_HASH">gitlab oauth</a>
